* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    background-color: #fc7a60;
    padding: 1rem;
}

.projects {
    background-color: #ede6e1;
    padding: 1rem;
}

.experience {
    background-color: #5bc4eb;
    padding: 1rem;
}

footer {
    background-color: #35382e;
    padding: 1rem;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}