* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    background-color: #fc7a60;
    padding: 1rem;
    display: grid;
    align-content: space-between;
    height: 100vh;
}

.top header {
    background-color: #35382e;
    color: white;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 2px;
}

.navigation-links {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    gap: 1rem;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.box {
    background-color: #35382e;
    color: white;
    width: 70vw;
    max-width: 500px;
    justify-self: center;
    border-radius: 2px;
    padding: 1rem;
}

.expand {
    text-align: center;
    color: white;
}

.projects {
    background-color: #ede6e1;
    padding: 1rem;
}

.experience {
    background-color: #5bc4eb;
    padding: 1rem;
}

footer {
    background-color: #35382e;
    padding: 1rem;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}